In [12]:
import pandas as pd
from data import * 
import numpy as np

# Debt Service

In [14]:
ds = pd.read_csv("debt_service.csv", skiprows=[0,1], names=["Year", "Interest Payment", "Prinicpal Payment", "Fees"], dtype=np.float64)
ds = ds.T

# General Expenses

In [2]:
def make_two_index_df(d_orig):
    d = d_orig.copy()
    # make entries into arrays
    for inner_dict in d.values():
        for k, v in inner_dict.items():
            inner_dict[k] = [v]
    # arrange the dictionary to have tuples 
    reform_d = {(outerKey, innerKey): values for outerKey, innerDict in d.items() for innerKey, values in innerDict.items()}
    # make the multi index dictionary 
    df = pd.DataFrame(reform_d, index=["Values"])
    df = df.T
    return df

## construction phase

In [3]:
d = {
    "Pre-Financial Close Expenses": pre_fc_costs,
    "Financial Close Expenses": fc_costs,
    "Construction Period Even Split Monthly Expenses": monthly_split_costs,
    "Construction Period Custom Schedule Monthly Expenses": epc_data
}

In [4]:
const_phase_inputs = make_two_index_df(d)
const_phase_inputs

                                                                                            Values
Pre-Financial Close Expenses                       Wetland Construction Permit           3000000.0
                                                   State Environmental Monitoring Fee     800000.0
Financial Close Expenses                           Land                                 12500000.0
                                                   Development Expenses                 28500000.0
                                                   Development Fees                     14700000.0
                                                   Closing Costs                        14392000.0
                                                   Contingency Fees                     30754000.0
Construction Period Even Split Monthly Expenses    Interest and Fees                    56853000.0
                                                   Insurance and Fees                   25000000.0
                                                   Management and Oversight              8150000.0
Construction Period Custom Schedule Monthly Exp... EPC Cost                            455000000.0

## operations

In [5]:
oper_d = {
    "Commisioning Fees": comm_fees,
    "Operating Fees to External Entities": other_fees
}

In [6]:
oper_phase_inputs = make_two_index_df(oper_d)

In [7]:
oper_phase_inputs

                                                                                       Values
Commisioning Fees                   ABSCO Interconnection Fee                       2500000.0
                                    ABSCO Network Upgrades                          5200000.0
                                    HIPU Interconnection Fee                        2000000.0
Operating Fees to External Entities Quarterly MaintCo Maintennance Fee               690000.0
                                    Annual Fisheries Mitigation Permit               130000.0
                                    Monthly HIPU Interconection Fee, Decade 1        110000.0
                                    Monthly HIPU Interconection Fee, Post-Decade 1   220000.0

## corporate (construction and operations)

In [8]:
corp_inputs = make_two_index_df(corporate_costs)

In [9]:
corp_inputs

                                                                      Values
General            Corporate Resources                             1900000.0
Outside Reources   Engineering                                      220000.0
                   Legal                                            315000.0
                   Accounting                                       180000.0
                   Community Relations                               80000.0
                   Industry Relations                                20000.0
                   Misc.                                             50000.0
Overhead           Station Power Service                            285000.0
                   Utilities                                         65000.0
                   Rent                                              82000.0
                   Telecommunications                                50000.0
                   Travel/Office                                    260000.0
                   Misc.                                            200000.0
                   Contingency                                      120000.0
Other Annual Costs Insurance                                       2500000.0
                   Property Taxes                                  2550000.0
                   Cable Easment                                    700000.0
                   Contribution to Stanford Global Project Center    25000.0