In [1]:
import pandas as pd
import numpy as np
from data import * 
from expenses import * 
from revenues import * 
from other import *

from enum import Enum

In [4]:
property_tax_rate = 0.01 
property_value = 1/(property_tax_rate)

### starting inputs

In [2]:
# revenues 
ppa_df

,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,July 2033 - Year 8,July 2034 - Year 9,July 2035 - Year 10,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Jan,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Feb,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Mar,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Apr,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
May,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Jun,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Jul,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Aug,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Sep,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Oct,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Nov,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Dec,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Total,80541120.0,84568176.0,88796584.8,9.323641e+07,9.789823e+07,1.027931e+08,1.079328e+08,1.133294e+08,1.189959e+08,1.249457e+08,...,3.480941e+08,3.654988e+08,3.837737e+08,4.029624e+08,4.231105e+08,4.442661e+08,4.664794e+08,4.898033e+08,5.142935e+08,5.400082e+08

In [3]:
# expenses 
exp_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Construction,104646000.0,317503000.0,317503000.0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Operating,0.0,0.0,9700000.0,3000000.00,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,...,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06
Corporate,0.0,9602000.0,9842050.0,10088101.25,1.034030e+07,1.059881e+07,1.086378e+07,1.113538e+07,1.141376e+07,1.169910e+07,...,2.116047e+07,2.168949e+07,2.223172e+07,2.278752e+07,2.335720e+07,2.394113e+07,2.453966e+07,2.515315e+07,2.578198e+07,2.642653e+07
Total,104646000.0,327105000.0,337045050.0,13088101.25,1.334030e+07,1.359881e+07,1.386378e+07,1.413538e+07,1.441376e+07,1.469910e+07,...,2.427047e+07,2.479949e+07,2.534172e+07,2.589752e+07,2.646720e+07,2.705113e+07,2.764966e+07,2.826315e+07,2.889198e+07,2.953653e+07

# calculation

In [28]:
df0 = pd.DataFrame( columns=year_col_names)

# revenue 
df0.loc["Revenue"] = ppa_df.loc["Total"]
df0 = df0.fillna(0)

# expenses 
df0.loc["Expenses"] = exp_df.loc["Total"]*-1

# ebitda 
df0.loc["EBITDA"] = df0.loc["Revenue"] + df0.loc["Expenses"]




df0

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Revenue,0.0,0.0,0.0,80541120.00,8.456818e+07,8.879658e+07,9.323641e+07,9.789823e+07,1.027931e+08,1.079328e+08,...,3.480941e+08,3.654988e+08,3.837737e+08,4.029624e+08,4.231105e+08,4.442661e+08,4.664794e+08,4.898033e+08,5.142935e+08,5.400082e+08
Expenses,-104646000.0,-327105000.0,-337045050.0,-13088101.25,-1.334030e+07,-1.359881e+07,-1.386378e+07,-1.413538e+07,-1.441376e+07,-1.469910e+07,...,-2.427047e+07,-2.479949e+07,-2.534172e+07,-2.589752e+07,-2.646720e+07,-2.705113e+07,-2.764966e+07,-2.826315e+07,-2.889198e+07,-2.953653e+07
EBITDA,-104646000.0,-327105000.0,-337045050.0,67453018.75,7.122787e+07,7.519777e+07,7.937263e+07,8.376286e+07,8.837939e+07,9.323370e+07,...,3.238236e+08,3.406993e+08,3.584320e+08,3.770649e+08,3.966433e+08,4.172149e+08,4.388297e+08,4.615402e+08,4.854015e+08,5.104716e+08

In [2]:
# depreciation on assets and capx 
substation_value = 100*corporate_costs["Other Annual Costs"]["Property Taxes"][0]
capx = epc_data["EPC Cost"]

depreciable_assets = property_value + init_capx
depreciable_assets/straight_line_dep_term

35500000.0

255000000.0

In [20]:
df0

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Revenue,NaN,NaN,NaN,80541120.0,84568176.0,88796584.8,93236414.04,9.789823e+07,1.027931e+08,1.079328e+08,...,3.480941e+08,3.654988e+08,3.837737e+08,4.029624e+08,4.231105e+08,4.442661e+08,4.664794e+08,4.898033e+08,5.142935e+08,5.400082e+08