In [95]:
import pandas as pd
import numpy as np
from data import * 
from expenses import * 
from revenues import * 
from other import *
import numpy_financial as npf

from enum import Enum

### Inputs

In [96]:
# revenues 
ppa_df

,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,July 2033 - Year 8,July 2034 - Year 9,July 2035 - Year 10,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Jan,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Feb,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Mar,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Apr,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
May,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Jun,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Jul,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Aug,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Sep,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Oct,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Nov,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Dec,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Total,80541120.0,84568176.0,88796584.8,9.323641e+07,9.789823e+07,1.027931e+08,1.079328e+08,1.133294e+08,1.189959e+08,1.249457e+08,...,3.480941e+08,3.654988e+08,3.837737e+08,4.029624e+08,4.231105e+08,4.442661e+08,4.664794e+08,4.898033e+08,5.142935e+08,5.400082e+08

In [97]:
# expenses 
exp_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Construction,104646000.0,317503000.0,317503000.0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Operating,0.0,0.0,9700000.0,3000000.00,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,...,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06
Corporate,0.0,9602000.0,9842050.0,10088101.25,1.034030e+07,1.059881e+07,1.086378e+07,1.113538e+07,1.141376e+07,1.169910e+07,...,2.116047e+07,2.168949e+07,2.223172e+07,2.278752e+07,2.335720e+07,2.394113e+07,2.453966e+07,2.515315e+07,2.578198e+07,2.642653e+07
Total,104646000.0,327105000.0,337045050.0,13088101.25,1.334030e+07,1.359881e+07,1.386378e+07,1.413538e+07,1.441376e+07,1.469910e+07,...,2.427047e+07,2.479949e+07,2.534172e+07,2.589752e+07,2.646720e+07,2.705113e+07,2.764966e+07,2.826315e+07,2.889198e+07,2.953653e+07

In [98]:
debt_service_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Interest Payment,0,0,16500000.0,38122500.0,31766250.0,36110000.0,29894750.0,33982500.0,27914900.0,31303000.0,...,0,0,0,0,0,0,0,0,0,0
Prinicpal Payment,0,0,0.0,11500000.0,13594494.0,14544335.0,15906984.0,16823430.0,18940697.0,19040508.0,...,0,0,0,0,0,0,0,0,0,0
Fees,0,0,300000.0,635435.0,635435.0,635435.0,635435.0,589436.0,589436.0,589436.0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
# depreciation 
dep_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,July 2033 - Year 8,July 2034 - Year 9,July 2035 - Year 10,July 2036 - Year 11,July 2037 - Year 12,July 2038 - Year 13,July 2039 - Year 14,July 2040 - Year 15,July 2041 - Year 16,July 2042 - Year 17
Depreciation,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0

In [100]:
# investments
loan_perc = 0.7
total_invest  = loan_amount*1/loan_perc
# assume
equity_amount = total_invest*(1 - loan_perc)

# calculation

In [101]:
def format_df(df):
    return (df/1e6).round(decimals=2)

In [102]:
df0 = pd.DataFrame( columns=year_col_names)

# revenue 
df0.loc["Revenue"] = ppa_df.loc["Total"]
df0 = df0.fillna(0)

# expenses 
df0.loc["Capital and Operating Expenses"] = exp_df.loc["Total"]*-1

df0.loc["Taxable Debt Service Expenses"] = debt_service_df.loc["Interest Payment"]*-1 + debt_service_df.loc["Fees"]*-1

df0.loc["Total Expenses"] = df0.loc["Capital and Operating Expenses"] + df0.loc["Taxable Debt Service Expenses"] 

# ebitda 
df0.loc["EBITDA"] = df0.loc["Revenue"] + df0.loc["Total Expenses"]


# tax depreciation 
df0.loc["Depreciation Value"] = dep_df.loc["Depreciation"]*-1
df0 = df0.fillna(0)


# taxable income/loss, also earnings after depreciation 
df0.loc["EBIT"] = df0.loc["EBITDA"] + df0.loc["Depreciation Value"]

# tax credit to recieve/ tax to pay  
df0.loc["Corporate Tax Due"] = df0.loc["EBIT"] .apply(lambda x: max(x* corp_tax_rate,0))*-1


df0.loc["Net Income"] = df0.loc["EBIT"] + df0.loc["Corporate Tax Due"]

df0.loc["Loan Repayments Due"] = debt_service_df.loc["Prinicpal Payment"]*-1

df0.loc["HIPU Escrow Account"] = [i*-1 for i in hipu_escrow_full]

df0.loc["Loan Income"] = [loan_amount] + [0]*len(df0.columns[1:])

df0.loc["Equity Income"] = [equity_amount] + [0]*len(df0.columns[1:])

df0.loc["Cash Flow"] = df0.loc["Net Income"] - df0.loc["Depreciation Value"] + df0.loc["HIPU Escrow Account"] + df0.loc["Loan Repayments Due"] + df0.loc["Loan Income"] #+ df0.loc["Equity Income"]

df0.loc["Cumulative Cash Flow"] = df0.loc["Cash Flow"].cumsum()




format_df(df0)

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Revenue,0.00,0.00,0.00,80.54,84.57,88.80,93.24,97.90,102.79,107.93,...,348.09,365.50,383.77,402.96,423.11,444.27,466.48,489.80,514.29,540.01
Capital and Operating Expenses,-104.65,-327.10,-337.05,-13.09,-13.34,-13.60,-13.86,-14.14,-14.41,-14.70,...,-24.27,-24.80,-25.34,-25.90,-26.47,-27.05,-27.65,-28.26,-28.89,-29.54
Taxable Debt Service Expenses,-0.00,-0.00,-16.80,-38.76,-32.40,-36.75,-30.53,-34.57,-28.50,-31.89,...,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
Total Expenses,-104.65,-327.10,-353.85,-51.85,-45.74,-50.34,-44.39,-48.71,-42.92,-46.59,...,-24.27,-24.80,-25.34,-25.90,-26.47,-27.05,-27.65,-28.26,-28.89,-29.54
EBITDA,-104.65,-327.10,-353.85,28.70,38.83,38.45,48.84,49.19,59.88,61.34,...,323.82,340.70,358.43,377.06,396.64,417.21,438.83,461.54,485.40,510.47
Depreciation Value,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
EBIT,-140.15,-362.60,-389.35,-6.80,3.33,2.95,13.34,13.69,24.38,25.84,...,323.82,340.70,358.43,377.06,396.64,417.21,438.83,461.54,485.40,510.47
Corporate Tax Due,-0.00,-0.00,-0.00,-0.00,-1.00,-0.89,-4.00,-4.11,-7.31,-7.75,...,-97.15,-102.21,-107.53,-113.12,-118.99,-125.16,-131.65,-138.46,-145.62,-153.14
Net Income,-140.15,-362.60,-389.35,-6.80,2.33,2.07,9.34,9.58,17.06,18.09,...,226.68,238.49,250.90,263.95,277.65,292.05,307.18,323.08,339.78,357.33
Loan Repayments Due,-0.00,-0.00,-0.00,-11.50,-13.59,-14.54,-15.91,-16.82,-18.94,-19.04,...,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
HIPU Escrow Account,-7.00,0.00,0.00,-22.50,1.12,2.19,3.21,4.17,5.09,5.96,...,17.67,17.91,18.14,18.36,18.57,18.76,18.95,19.13,19.30,19.46
Loan Income,550.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Equity Income,235.74,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cash Flow,438.42,-327.10,-353.85,-5.30,25.36,25.22,32.14,32.43,38.71,40.51,...,244.35,256.40,269.04,282.30,296.22,310.81,326.13,342.21,359.08,376.79
Cumulative Cash Flow,438.42,111.31,-242.53,-247.84,-222.48,-197.26,-165.12,-132.69,-93.98,-53.47,...,3048.71,3305.12,3574.16,3856.46,4152.68,4463.49,4789.63,5131.83,5490.91,5867.69

In [103]:
df0.loc["Cash Flow"].sum()/1e6

5867.694880542608

In [104]:
npv = npf.npv(rate=0.08, values=df0.loc["Cash Flow"])/1e6
npv

613.0903241413297

In [105]:
# TODO  have to discount future cash flow using irr
roe = df0.loc["Cash Flow"].sum()/df0.loc["Equity Income"][0]
# irr thing?