In [1]:
import pandas as pd
import numpy as np
from data import * 
# from expenses import * 
# from revenues import * 
# from other import *
# from model import *
from main_class import * 


from enum import Enum

In [2]:
a = FinancialModel()
a.calc_exp_df()

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Construction,104646000.0,317503000.0,317503000.0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Operating,0.0,0.0,9700000.0,3000000.00,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,...,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06
Corporate,0.0,9602000.0,9842050.0,10088101.25,1.034030e+07,1.059881e+07,1.086378e+07,1.113538e+07,1.141376e+07,1.169910e+07,...,2.116047e+07,2.168949e+07,2.223172e+07,2.278752e+07,2.335720e+07,2.394113e+07,2.453966e+07,2.515315e+07,2.578198e+07,2.642653e+07
Total,104646000.0,327105000.0,337045050.0,13088101.25,1.334030e+07,1.359881e+07,1.386378e+07,1.413538e+07,1.441376e+07,1.469910e+07,...,2.427047e+07,2.479949e+07,2.534172e+07,2.589752e+07,2.646720e+07,2.705113e+07,2.764966e+07,2.826315e+07,2.889198e+07,2.953653e+07

In [3]:
a.exp_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Construction,104646000.0,317503000.0,317503000.0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Operating,0.0,0.0,9700000.0,3000000.00,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,...,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06
Corporate,0.0,9602000.0,9842050.0,10088101.25,1.034030e+07,1.059881e+07,1.086378e+07,1.113538e+07,1.141376e+07,1.169910e+07,...,2.116047e+07,2.168949e+07,2.223172e+07,2.278752e+07,2.335720e+07,2.394113e+07,2.453966e+07,2.515315e+07,2.578198e+07,2.642653e+07
Total,104646000.0,327105000.0,337045050.0,13088101.25,1.334030e+07,1.359881e+07,1.386378e+07,1.413538e+07,1.441376e+07,1.469910e+07,...,2.427047e+07,2.479949e+07,2.534172e+07,2.589752e+07,2.646720e+07,2.705113e+07,2.764966e+07,2.826315e+07,2.889198e+07,2.953653e+07

# calculation

In [2]:
### base case

In [7]:
# base case
df, _, roe, _ = run_model(ppa_df, exp_df, debt_service_df, dep_df)
roe

Financial Close - July 2023                         4.384168e+08
Construction Year 1 - July 2024                    -3.271050e+08
Commisioning and Construction Year 2 - July 2025   -3.538450e+08
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64

3.8770638219136027

In [8]:
df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Revenue,0.00,0.00,0.00,80.54,84.57,88.80,93.24,97.90,102.79,107.93,...,348.09,365.50,383.77,402.96,423.11,444.27,466.48,489.80,514.29,540.01
Capital and Operating Expenses,-104.65,-327.10,-337.05,-13.09,-13.34,-13.60,-13.86,-14.14,-14.41,-14.70,...,-24.27,-24.80,-25.34,-25.90,-26.47,-27.05,-27.65,-28.26,-28.89,-29.54
Taxable Debt Service Expenses,-0.00,-0.00,-16.80,-38.76,-32.40,-36.75,-30.53,-34.57,-28.50,-31.89,...,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
Total Expenses,-104.65,-327.10,-353.85,-51.85,-45.74,-50.34,-44.39,-48.71,-42.92,-46.59,...,-24.27,-24.80,-25.34,-25.90,-26.47,-27.05,-27.65,-28.26,-28.89,-29.54
EBITDA,-104.65,-327.10,-353.85,28.70,38.83,38.45,48.84,49.19,59.88,61.34,...,323.82,340.70,358.43,377.06,396.64,417.21,438.83,461.54,485.40,510.47
Depreciation Value,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,-35.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
EBIT,-140.15,-362.60,-389.35,-6.80,3.33,2.95,13.34,13.69,24.38,25.84,...,323.82,340.70,358.43,377.06,396.64,417.21,438.83,461.54,485.40,510.47
Corporate Tax Due,-0.00,-0.00,-0.00,-0.00,-1.00,-0.89,-4.00,-4.11,-7.31,-7.75,...,-97.15,-102.21,-107.53,-113.12,-118.99,-125.16,-131.65,-138.46,-145.62,-153.14
Net Income,-140.15,-362.60,-389.35,-6.80,2.33,2.07,9.34,9.58,17.06,18.09,...,226.68,238.49,250.90,263.95,277.65,292.05,307.18,323.08,339.78,357.33
Loan Repayments Due,-0.00,-0.00,-0.00,-11.50,-13.59,-14.54,-15.91,-16.82,-18.94,-19.04,...,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
HIPU Escrow Account,-7.00,0.00,0.00,-22.50,1.12,2.19,3.21,4.17,5.09,5.96,...,17.67,17.91,18.14,18.36,18.57,18.76,18.95,19.13,19.30,19.46
Loan Income,550.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Equity Income,235.74,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cash Flow,438.42,-327.10,-353.85,-5.30,25.36,25.22,32.14,32.43,38.71,40.51,...,244.35,256.40,269.04,282.30,296.22,310.81,326.13,342.21,359.08,376.79
Cumulative Cash Flow,438.42,111.31,-242.53,-247.84,-222.48,-197.26,-165.12,-132.69,-93.98,-53.47,...,3048.71,3305.12,3574.16,3856.46,4152.68,4463.49,4789.63,5131.83,5490.91,5867.69

### exchange rate fluctiations affecting EPC contract price

In [4]:
# TODO add to inputs! 

current_exchange = 1.30 # currently = 1.30 eur => us 

# price has fluctuated from 0.95 to 1.39 over past 10 years 
# https://www.xe.com/currencycharts/?from=EUR&to=USD&view=10Y
# lets do the full range, and then some, +/- 0.15
currs = np.round(np.arange(0.80, 1.55, 0.05),2)

# 0.01 increase in exchange rate => EPC contract price increases / decreases by 1,670,000
epc_fluct = 1670e3/0.01

devs = np.round(currs - current_exchange,3)
dev_cash = np.round(devs * epc_fluct,3)

print(currs, devs, dev_cash)

[0.8  0.85 0.9  0.95 1.   1.05 1.1  1.15 1.2  1.25 1.3  1.35 1.4  1.45
 1.5 ] [-0.5  -0.45 -0.4  -0.35 -0.3  -0.25 -0.2  -0.15 -0.1  -0.05  0.    0.05
  0.1   0.15  0.2 ] [-83500000. -75150000. -66800000. -58450000. -50100000. -41750000.
 -33400000. -25050000. -16700000.  -8350000.         0.   8350000.
  16700000.  25050000.  33400000.]

In [5]:
def eval_epc_fluct(value, const_exp=const_exp, op_exp=op_exp, corp_exp=corp_exp, const_df=const_df, const_inputs=const_inputs):
    
    curr_epc_val = epc_data["EPC Cost"][0]
    
    new_val = curr_epc_val + value
    print(curr_epc_val, new_val)

    const_df_base = calc_epc_expenses(const_df, const_inputs, new_val=new_val)
    const_exp = make_const_exp(const_df_base) # return const_exp
    
    exp_df = calc_exp_df(const_exp, op_exp, corp_exp)

    _, _, roe, _ = run_model(ppa_df, exp_df, debt_service_df, dep_df)

    return roe

In [6]:
roes = {v:eval_epc_fluct(k) for k,v in zip(dev_cash, dev_cash) }
roes

455000000.0 371500000.0
Financial Close - July 2023                         3.337708e+08
Construction Year 1 - July 2024                    -6.028580e+08
Commisioning and Construction Year 2 - July 2025   -6.295980e+08
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 379850000.0
Financial Close - July 2023                         2.291248e+08
Construction Year 1 - July 2024                    -8.827860e+08
Commisioning and Construction Year 2 - July 2025   -9.095260e+08
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 388200000.0
Financial Close - July 2023                         1.244788e+08
Construction Year 1 - July 2024                    -1.166889e+09
Commisioning and Construction Year 2 - July 2025   -1.193629e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 396550000.0
Financial Close - July 2023                         1.983279e+07
Construction Year 1 - July 2024                    -1.455167e+09
Commisioning and Construction Year 2 - July 2025   -1.481907e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 404900000.0
Financial Close - July 2023                        -8.481321e+07
Construction Year 1 - July 2024                    -1.747620e+09
Commisioning and Construction Year 2 - July 2025   -1.774360e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 413250000.0
Financial Close - July 2023                        -1.894592e+08
Construction Year 1 - July 2024                    -2.044248e+09
Commisioning and Construction Year 2 - July 2025   -2.070988e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 421600000.0
Financial Close - July 2023                        -2.941052e+08
Construction Year 1 - July 2024                    -2.345051e+09
Commisioning and Construction Year 2 - July 2025   -2.371791e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 429950000.0
Financial Close - July 2023                        -3.987512e+08
Construction Year 1 - July 2024                    -2.650029e+09
Commisioning and Construction Year 2 - July 2025   -2.676769e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 438300000.0
Financial Close - July 2023                        -5.033972e+08
Construction Year 1 - July 2024                    -2.959182e+09
Commisioning and Construction Year 2 - July 2025   -2.985922e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 446650000.0
Financial Close - July 2023                        -6.080432e+08
Construction Year 1 - July 2024                    -3.272510e+09
Commisioning and Construction Year 2 - July 2025   -3.299250e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 455000000.0
Financial Close - July 2023                        -7.126892e+08
Construction Year 1 - July 2024                    -3.590013e+09
Commisioning and Construction Year 2 - July 2025   -3.616753e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 463350000.0
Financial Close - July 2023                        -8.173352e+08
Construction Year 1 - July 2024                    -3.911691e+09
Commisioning and Construction Year 2 - July 2025   -3.938431e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07
July 2043 - Year 18                                 8.568057e+07
July 2044 - Year 19                                 9.218556e+07
July 2045 - Year 20                                 1.205240e+08
Name: Cash Flow, dtype: float64
455000000.0 471700000.0
Financial Close - July 2023                        -9.219812e+08
Construction Year 1 - July 2024                    -4.237544e+09
Commisioning and Construction Year 2 - July 2025   -4.264284e+09
July 2026 - Year 1                                 -5.304916e+06
July 2027 - Year 2                                  2.535884e+07
July 2028 - Year 3                                  2.521605e+07
July 2029 - Year 4                                  3.214179e+07
July 2030 - Year 5                                  3.243383e+07
July 2031 - Year 6                                  3.871177e+07
July 2032 - Year 7                                  4.050881e+07
July 2033 - Year 8                                  4.574482e+07
July 2034 - Year 9                                  4.794723e+07
July 2035 - Year 10                                 5.511949e+07
July 2036 - Year 11                                 5.823504e+07
July 2037 - Year 12                                 6.491862e+07
July 2038 - Year 13                                 6.809518e+07
July 2039 - Year 14                                 7.460699e+07
July 2040 - Year 15                                 7.870318e+07
July 2041 - Year 16                                 8.507395e+07
July 2042 - Year 17                                 9.061618e+07

{-83500000.0: 1.0937064387199158,
 -75150000.0: -1.7250711430705392,
 -66800000.0: -4.5792689234577635,
 -58450000.0: -7.468886902441759,
 -50100000.0: -10.393925080022523,
 -41750000.0: -13.354383456200058,
 -33400000.0: -16.350262030974356,
 -25050000.0: -19.381560804345426,
 -16700000.0: -22.448279776313267,
 -8350000.0: -25.550418946877876,
 0.0: -28.687978316039253,
 8350000.0: -31.8609578837974,
 16700000.0: -35.06935765015232,
 25050000.0: -38.313177615104,
 33400000.0: -41.592417778652454}