In [1]:
import pandas as pd
import numpy as np
from data import * 
from expenses import * 
from revenues import * 
from other import *

from enum import Enum

### Inputs

In [3]:
# revenues 
ppa_df

,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,July 2033 - Year 8,July 2034 - Year 9,July 2035 - Year 10,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Jan,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Feb,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Mar,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Apr,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
May,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Jun,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Jul,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Aug,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Sep,6943200.0,7290360.0,7654878.0,8.037622e+06,8.439503e+06,8.861478e+06,9.304552e+06,9.769780e+06,1.025827e+07,1.077118e+07,...,3.000811e+07,3.150852e+07,3.308394e+07,3.473814e+07,3.647505e+07,3.829880e+07,4.021374e+07,4.222442e+07,4.433565e+07,4.655243e+07
Oct,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Nov,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Dec,6596040.0,6925842.0,7272134.1,7.635741e+06,8.017528e+06,8.418404e+06,8.839324e+06,9.281291e+06,9.745355e+06,1.023262e+07,...,2.850770e+07,2.993309e+07,3.142974e+07,3.300123e+07,3.465129e+07,3.638386e+07,3.820305e+07,4.011320e+07,4.211886e+07,4.422481e+07
Total,80541120.0,84568176.0,88796584.8,9.323641e+07,9.789823e+07,1.027931e+08,1.079328e+08,1.133294e+08,1.189959e+08,1.249457e+08,...,3.480941e+08,3.654988e+08,3.837737e+08,4.029624e+08,4.231105e+08,4.442661e+08,4.664794e+08,4.898033e+08,5.142935e+08,5.400082e+08

In [4]:
# expenses 
exp_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Construction,104646000.0,317503000.0,317503000.0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Operating,0.0,0.0,9700000.0,3000000.00,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,...,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06,3.110000e+06
Corporate,0.0,9602000.0,9842050.0,10088101.25,1.034030e+07,1.059881e+07,1.086378e+07,1.113538e+07,1.141376e+07,1.169910e+07,...,2.116047e+07,2.168949e+07,2.223172e+07,2.278752e+07,2.335720e+07,2.394113e+07,2.453966e+07,2.515315e+07,2.578198e+07,2.642653e+07
Total,104646000.0,327105000.0,337045050.0,13088101.25,1.334030e+07,1.359881e+07,1.386378e+07,1.413538e+07,1.441376e+07,1.469910e+07,...,2.427047e+07,2.479949e+07,2.534172e+07,2.589752e+07,2.646720e+07,2.705113e+07,2.764966e+07,2.826315e+07,2.889198e+07,2.953653e+07

In [27]:
debt_service_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Interest Payment,0,0,16500000.0,38122500.0,31766250.0,36110000.0,29894750.0,33982500.0,27914900.0,31303000.0,...,0,0,0,0,0,0,0,0,0,0
Prinicpal Payment,0,0,0.0,11500000.0,13594494.0,14544335.0,15906984.0,16823430.0,18940697.0,19040508.0,...,0,0,0,0,0,0,0,0,0,0
Fees,0,0,300000.0,635435.0,635435.0,635435.0,635435.0,589436.0,589436.0,589436.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# depreciation 
dep_df

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,July 2033 - Year 8,July 2034 - Year 9,July 2035 - Year 10,July 2036 - Year 11,July 2037 - Year 12,July 2038 - Year 13,July 2039 - Year 14,July 2040 - Year 15,July 2041 - Year 16,July 2042 - Year 17
Depreciation,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0,35500000.0

# calculation

In [40]:
df0 = pd.DataFrame( columns=year_col_names)

# revenue 
df0.loc["Revenue"] = ppa_df.loc["Total"]
df0 = df0.fillna(0)

# expenses 
df0.loc["Capital and Operating Expenses"] = exp_df.loc["Total"]*-1

df0.loc["Taxable Debt Service Expenses"] = debt_service_df.loc["Interest Payment"]*-1 + debt_service_df.loc["Fees"]*-1

df0.loc["Total Expenses"] = df0.loc["Capital and Operating Expenses"] + df0.loc["Taxable Debt Service Expenses"] 

# ebitda 
df0.loc["EBITDA"] = df0.loc["Revenue"] + df0.loc["Total Expenses"]


# tax depreciation 
df0.loc["Depreciation Value"] = dep_df.loc["Depreciation"]*-1
df0 = df0.fillna(0)


# taxable income/loss, also earnings after depreciation 
df0.loc["EBIT"] = df0.loc["EBITDA"] + df0.loc["Depreciation Value"]

# tax credit to recieve/ tax to pay  
df0.loc["Corporate Tax Payable"] = df0.loc["EBIT"] .apply(lambda x: max(x* corp_tax_rate,0))*-1


df0.loc["After Tax Income"] = df0.loc["EBIT"] + df0.loc["Corporate Tax Payable"]


(df0/1e6).round(decimals=1)

,Financial Close - July 2023,Construction Year 1 - July 2024,Commisioning and Construction Year 2 - July 2025,July 2026 - Year 1,July 2027 - Year 2,July 2028 - Year 3,July 2029 - Year 4,July 2030 - Year 5,July 2031 - Year 6,July 2032 - Year 7,...,July 2056 - Year 31,July 2057 - Year 32,July 2058 - Year 33,July 2059 - Year 34,July 2060 - Year 35,July 2061 - Year 36,July 2062 - Year 37,July 2063 - Year 38,July 2064 - Year 39,July 2065 - Year 40
Revenue,0.0,0.0,0.0,80.5,84.6,88.8,93.2,97.9,102.8,107.9,...,348.1,365.5,383.8,403.0,423.1,444.3,466.5,489.8,514.3,540.0
Capital and Operating Expenses,-104.6,-327.1,-337.0,-13.1,-13.3,-13.6,-13.9,-14.1,-14.4,-14.7,...,-24.3,-24.8,-25.3,-25.9,-26.5,-27.1,-27.6,-28.3,-28.9,-29.5
Taxable Debt Service Expenses,-0.0,-0.0,-16.8,-38.8,-32.4,-36.7,-30.5,-34.6,-28.5,-31.9,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
Total Expenses,-104.6,-327.1,-353.8,-51.8,-45.7,-50.3,-44.4,-48.7,-42.9,-46.6,...,-24.3,-24.8,-25.3,-25.9,-26.5,-27.1,-27.6,-28.3,-28.9,-29.5
EBITDA,-104.6,-327.1,-353.8,28.7,38.8,38.5,48.8,49.2,59.9,61.3,...,323.8,340.7,358.4,377.1,396.6,417.2,438.8,461.5,485.4,510.5
Depreciation Value,-35.5,-35.5,-35.5,-35.5,-35.5,-35.5,-35.5,-35.5,-35.5,-35.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
EBIT,-140.1,-362.6,-389.3,-6.8,3.3,3.0,13.3,13.7,24.4,25.8,...,323.8,340.7,358.4,377.1,396.6,417.2,438.8,461.5,485.4,510.5
Corporate Tax Payable,-0.0,-0.0,-0.0,-0.0,-1.0,-0.9,-4.0,-4.1,-7.3,-7.8,...,-97.1,-102.2,-107.5,-113.1,-119.0,-125.2,-131.6,-138.5,-145.6,-153.1
After Tax Income,-140.1,-362.6,-389.3,-6.8,2.3,2.1,9.3,9.6,17.1,18.1,...,226.7,238.5,250.9,263.9,277.7,292.1,307.2,323.1,339.8,357.3